---
import {getLanguage, useTranslations} from "../i18n/utils";
import {Picture} from 'astro:assets';
import {getEntry} from 'astro:content';
import Layout from '../layouts/Layout.astro';
import logoOrange from '../images/sl-orange.svg?raw';
import portraitSansFond from '../images/portrait-sans-fond.avif';
import dotsGrid from '../images/dots-grid.svg?raw';
import stackIcon from '../images/sections-icons/stack.svg?raw';
import ExperienceCard from "../components/ExperienceCard.astro";
import laravelLogo from '../images/brands-logo/laravel.svg';
import vuejsLogo from '../images/brands-logo/vuejs.svg';
import nestjsLogo from '../images/brands-logo/nestjs.svg';
import bootstrapLogo from '../images/brands-logo/bootstrap.svg';
import prismaLogo from '../images/brands-logo/prisma.svg';
import sequelizeLogo from '../images/brands-logo/sequelize.svg';
import phpLogo from '../images/brands-logo/php.svg';
import typescriptLogo from '../images/brands-logo/typescript.svg';
import sassLogo from '../images/brands-logo/sass.svg';
import javaLogo from '../images/brands-logo/java.svg';
import csharpLogo from '../images/brands-logo/csharp.svg';
import tuxLogo from '../images/brands-logo/tux.svg';
import figmaLogo from '../images/brands-logo/figma.svg';
import gitlabLogo from '../images/brands-logo/gitlab.svg';
import faBars from '@fortawesome/free-solid-svg-icons/faBars'
import FontAwesome from "../components/FontAwesome.astro";

const lang = getLanguage(Astro.preferredLocale);
const trans = useTranslations(lang);

const allSoftSkills = await getEntry('homepage', lang + '/soft-skills')
    .then((entry) => entry.data);

const technoLogo = {
    "laravel": laravelLogo,
    "vuejs": vuejsLogo,
    "nestjs": nestjsLogo,
    "bootstrap": bootstrapLogo,
    "prisma": prismaLogo,
    "sequelize": sequelizeLogo,
    "php": phpLogo,
    "typescript": typescriptLogo,
    "sass": sassLogo,
    "java": javaLogo,
    "csharp": csharpLogo,
    "linux": tuxLogo,
    "figma": figmaLogo,
    "gitlab": gitlabLogo,
}

const softSkillsCategoriesTitles = {
    "framework": trans('framework-and-libraries'),
    "language": trans('programming-languages'),
    "additional": trans('additional-skills'),
}
---

<Layout title="Sofiane Lasri">
    <header class="navbar">
        <div class="logo-section">
            <div class="logo">
                <Fragment set:html={logoOrange}/>
            </div>
            <div class="portfolio-name">
                <div class="name">Sofiane Lasri.</div>
                <div class="desc">Développeur Full-Stack</div>
            </div>
        </div>
        <nav aria-label="Navigation principale">
            <ul>
                <li><a href="/" class="active">{trans('nav.home')}</a></li>
                <li><a href="/#experience">Expérience</a></li>
                <li><a href="/#projects">Projets</a></li>
                <li><a href="/#education-carreer">Éducation & Carrière</a></li>
                <li><a href="/#contact">Contact</a></li>
            </ul>
        </nav>
        <button class="btn menu-mobile-btn">
            <FontAwesome icon={faBars}/>
        </button>
    </header>
    <main>
        <section class="hero-wrapper">
            <div class="hero">
                <div class="portrait">
                    <Fragment set:html={dotsGrid}/>
                    <div class="portrait-wrapper">
                        <Picture src={portraitSansFond} formats={['avif', 'webp']} loading="eager"
                                 alt="Portrait de Sofiane Lasri, sans aucune égocentrie."/>
                    </div>
                </div>
                <div class="content">
                    <div class="heading">
                        <div class="meta-title">Bienvenue sur mon site</div>
                        <h1 class="title">Salut! Je suis <span class="bg-gradient-primary">Sofiane Lasri</span>,</h1>
                        <h2 class="subtitle">Développeur Full-Stack</h2>
                    </div>
                    <div class="about-me">
                        <p>Passionné par le développement d’applications, j’adore créer de nouveaux projets afin
                            d’expérimenter de nouvelles technologies. J’aime également concevoir et réaliser des
                            interfaces graphiques, j’attribue toujours beaucoup de mérite aux sites et applications à
                            l’UI/UX soignée.</p>
                        <p>Grâce à mon expérience acquise en entreprise, mais également au travers de mes divers projets
                            personnels, je possède une bonne maîtrise de Laravel, TypeScript et de Sass. :)</p>
                    </div>

                    <div class="d-flex flex-wrap gap-2">
                        <a href="https://1drv.ms/b/s!Atk178NpnuLmhJoiwLEN2FRww-mGcA?e=I1kL8w" target="_blank"
                           class="btn btn-outline-dark" aria-label="Télécharger mon CV">Télécharger mon CV</a>
                        <a href="https://github.com/SofianeLasri/" target="_blank" class="btn btn-outline-dark"
                           aria-label="GitHub">GitHub</a>
                        <a href="https://www.linkedin.com/in/sofiane-lasri-trienpont/" target="_blank"
                           class="btn btn-outline-dark" aria-label="LinkedIn">LinkedIn</a>
                        <a href="https://dribbble.com/SofianeLasri" target="_blank" class="btn btn-outline-dark"
                           aria-label="Dribbble">Dribbble</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="experience" class="experience">
            <header class="section-header">
                <div class="title-wrapper">
                    <div class="meta-title">Expérience</div>
                    <h1>Expérience & Compétences</h1>
                </div>
                <div class="icon-wrapper">
                    <Fragment set:html={stackIcon}/>
                </div>
            </header>
            {Object.keys(allSoftSkills).map((technoType) => (
                    <div class="sub-section">
                        <h2 class="subtitle">{softSkillsCategoriesTitles[technoType]}</h2>
                        <div class="cards">
                            {allSoftSkills[technoType].map((softSkill) => (
                                    <ExperienceCard
                                            isPrimary={softSkill.preferred}
                                            technoType={softSkill.translatedTechnoType}
                                            logo={technoLogo[softSkill.id]}
                                            name={softSkill.name}
                                            review={softSkill.review}
                                    />
                            ))}
                        </div>
                    </div>
            ))}
        </section>
    </main>
</Layout>