---
import {Picture} from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import logoOrange from '../images/sl-orange.svg?raw';
import portraitSansFond from '../images/portrait-sans-fond.avif';
import dotsGrid from '../images/dots-grid.svg?raw';
import darkStackIcon from '../images/dark-stack-icon.svg?raw';
import ExperienceCard from "../components/ExperienceCard.astro";
import laravelLogo from '../images/laravel-logo.svg';
import faBarsSolid from '../icons-svg/bars-solid.svg?raw';
---

<Layout title="Welcome to Astro.">
    <header class="navbar">
        <div class="logo-section">
            <div class="logo">
                <Fragment set:html={logoOrange}/>
            </div>
            <div class="portfolio-name">
                <div class="name">Sofiane Lasri.</div>
                <div class="desc">Développeur Full-Stack</div>
            </div>
        </div>
        <nav aria-label="Navigation principale">
            <ul>
                <li><a href="/" class="active">Accueil</a></li>
                <li><a href="/#experience">Expérience</a></li>
                <li><a href="/#projects">Projets</a></li>
                <li><a href="/#education-carreer">Éducation & Carrière</a></li>
                <li><a href="/#contact">Contact</a></li>
            </ul>
        </nav>
        <button class="btn menu-mobile-btn">
            <Fragment set:html={faBarsSolid}/>
        </button>
    </header>
    <main>
        <section class="hero-wrapper">
            <div class="hero">
                <div class="portrait">
                    <Fragment set:html={dotsGrid}/>
                    <div class="portrait-wrapper">
                        <Picture src={portraitSansFond} formats={['avif', 'webp']} loading="eager"
                                 alt="Portrait de Sofiane Lasri, sans aucune égocentrie."/>
                    </div>
                </div>
                <div class="content">
                    <div class="heading">
                        <div class="meta-title">Bienvenue sur mon site</div>
                        <h1 class="title">Salut! Je suis <span class="bg-gradient-primary">Sofiane Lasri</span>,</h1>
                        <h2 class="subtitle">Développeur Full-Stack</h2>
                    </div>
                    <div class="about-me">
                        <p>Passionné par le développement d’applications, j’adore créer de nouveaux projets afin
                            d’expérimenter de nouvelles technologies. J’aime également concevoir et réaliser des
                            interfaces graphiques, j’attribue toujours beaucoup de mérite aux sites et applications à
                            l’UI/UX soignée.</p>
                        <p>Grâce à mon expérience acquise en entreprise, mais également au travers de mes divers projets
                            personnels, je possède une bonne maîtrise de Laravel, TypeScript et de Sass. :)</p>
                    </div>

                    <div class="links">
                        <a href="#" class="btn btn-outline-dark" aria-label="Télécharger mon CV">Télécharger mon CV</a>
                        <a href="#" class="btn btn-outline-dark" aria-label="GitHub">GitHub</a>
                        <a href="#" class="btn btn-outline-dark" aria-label="LinkedIn">LinkedIn</a>
                        <a href="#" class="btn btn-outline-dark" aria-label="Dribbble">Dribbble</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="experience" class="experience">
            <header class="section-header">
                <div class="title-wrapper">
                    <div class="meta-title">Expérience</div>
                    <h1>Expérience & Compétences</h1>
                </div>
                <div class="icon-wrapper">
                    <Fragment set:html={darkStackIcon}/>
                </div>
            </header>
            <div class="sub-section">
                <h2 class="subtitle">Framework & Librairies</h2>
                <div class="cards">
                    <ExperienceCard
                            isPrimary={true}
                            technoType="Framework"
                            logo={laravelLogo}
                            name="Laravel"
                            review="Laravel est mon framework backend préféré. <3 Travaillant quotidiennement dessus aussi bien dans le cadre professionnel que personnel, j’ai pu acquérir une bonne expérience qui me permet aujourd’hui de l’utiliser dans tous mes projets web."
                    />
                    <ExperienceCard
                            isPrimary={false}
                            technoType="Framework"
                            logo={laravelLogo}
                            name="Laravel"
                            review="Laravel est mon framework backend préféré. <3 Travaillant quotidiennement dessus aussi bien dans le cadre professionnel que personnel, j’ai pu acquérir une bonne expérience qui me permet aujourd’hui de l’utiliser dans tous mes projets web."
                    />
                    <ExperienceCard
                            isPrimary={false}
                            technoType="Framework"
                            logo={laravelLogo}
                            name="Laravel"
                            review="Laravel est mon framework backend préféré. <3 Travaillant quotidiennement dessus aussi bien dans le cadre professionnel que personnel, j’ai pu acquérir une bonne expérience qui me permet aujourd’hui de l’utiliser dans tous mes projets web."
                    />
                    <ExperienceCard
                            isPrimary={false}
                            technoType="Framework"
                            logo={laravelLogo}
                            name="Laravel"
                            review="Laravel est mon framework backend préféré. <3 Travaillant quotidiennement dessus aussi bien dans le cadre professionnel que personnel, j’ai pu acquérir une bonne expérience qui me permet aujourd’hui de l’utiliser dans tous mes projets web."
                    />
                    <ExperienceCard
                            isPrimary={false}
                            technoType="Framework"
                            logo={laravelLogo}
                            name="Laravel"
                            review="Laravel est mon framework backend préféré. <3 Travaillant quotidiennement dessus aussi bien dans le cadre professionnel que personnel, j’ai pu acquérir une bonne expérience qui me permet aujourd’hui de l’utiliser dans tous mes projets web."
                    />
                </div>
            </div>
        </section>
    </main>
</Layout>