---
import { marked } from 'marked';
import {Picture} from 'astro:assets';
const {isPrimary, technoType, logo, name, review} = Astro.props;

const reviewHtml = marked(review);
---
<div class={`experience-card ${isPrimary ? 'primary' : ''}`}>
    <div class="card-header">
        <div class="techno-type">{technoType}</div>
    </div>
    <div class="card-content">
        <div class="techno-header">
            <div class="logo">
                <Picture src={logo} formats={['avif', 'webp']} inferS alt={`Logo de ${name}`}/>
            </div>
            <div class="name">{name}</div>
        </div>
        <div class="techno-review">
            <Fragment set:html={reviewHtml}/>
        </div>
    </div>
</div>