---
import {Picture} from 'astro:assets';
import {getLanguage, useTranslations} from "../i18n/utils";
import faXmark from '@fortawesome/free-solid-svg-icons/faXmark';
import FontAwesome from "./FontAwesome.astro";
import {marked} from "marked";

export interface Props {
    id: string;
    projectType: string;
    name: string;
    description: string;
    body: string;
    cover: Picture;
    logo: Picture;
    medias: Picture[];
    startDate: string;
    endDate: string;
}

const {id, projectType, name, description, body, cover, logo, medias, startDate, endDate} = Astro.props;
const lang = getLanguage(Astro.preferredLocale);
const trans = useTranslations(lang);
const translatedProjectType = trans('project-type.' + projectType);
const formattedBody = marked(body);

const modalId = 'modal-' + id.replace(/[^a-zA-Z0-9]/g, '-');
---

<div class="project-card" data-bs-toggle="modal" data-bs-target={`#${modalId}`}>
    <div class="header">
        <Picture src={cover} formats={['avif', 'webp']} alt={`Couverture du projet ${name}`}/>
        <div class="project-type-badge">
            {translatedProjectType}
        </div>
    </div>
    <div class="content">
        <div class="title">{name}</div>
        <div class="desc">{description}</div>
    </div>
</div>

<div class="modal fade" id={modalId} tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="project-modal-content">
            <div class="modal-header">
                <div class="background-image">
                    <Picture src={cover} formats={['avif', 'webp']} alt={`Couverture du projet ${name}`}/>
                </div>
                <button class="close-btn" data-bs-dismiss="modal" aria-label="Close">
                    <FontAwesome icon={faXmark}/>
                </button>
                <div class="project-meta">
                    <div class="logo">
                        <Picture src={logo} formats={['avif', 'webp']} alt={`Logo du projet ${name}`}/>
                    </div>
                    <div class="logo-width-faker"></div>
                    <div class="meta">
                        <h4 class="name">{name}</h4>
                        <div class="date">{startDate} - {endDate}</div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="section">
                    <h4>Description</h4>
                    <Fragment set:html={formattedBody}/>
                </div>
                {medias.length > 0 && (
                        <div class="section">
                            <h4>Médias</h4>
                            <div class="medias">
                                {medias.map((media, index) => (
                                        <Picture key={index} src={media} formats={['avif', 'webp']}
                                                 alt={`Média ${index}`}/>
                                ))}
                            </div>
                        </div>
                )}
            </div>
        </div>
    </div>
</div>

<script>

</script>