---
import type {GetImageResult} from "astro/dist/assets/types";
import {Picture, getImage} from 'astro:assets';
import {getLanguage, useTranslations} from "../i18n/utils";
import faXmark from '@fortawesome/free-solid-svg-icons/faXmark';
import FontAwesome from "./FontAwesome.astro";
import {marked} from "marked";

export interface Props {
    id: string;
    projectType: string;
    name: string;
    description: string;
    body: string;
    cover: Picture;
    logo: Picture;
    medias: Picture[];
    startDate: string;
    endDate: string;
}

type Media = {
    original: GetImageResult;
    thumbnail: GetImageResult;
}

const {id, projectType, name, description, body, cover, logo, medias, startDate, endDate} = Astro.props;
const lang = getLanguage(Astro.preferredLocale);
const trans = useTranslations(lang);
const translatedProjectType = trans('project-type.' + projectType);
const formattedBody = marked(body);
const optimizedMedias: Media[] = [];

for (const media of medias) {
    const fullSrc = await getImage({src: media, format: 'avif'});
    const thumbnailSrc = await getImage({src: media, format: 'avif', width: 256});
    optimizedMedias.push({original: fullSrc, thumbnail: thumbnailSrc});
}

const modalId = 'modal-' + id.replace(/[^a-zA-Z0-9]/g, '-');
---

<div class="project-card" data-bs-toggle="modal" data-bs-target={`#${modalId}`}>
    <div class="header">
        <Picture src={cover} formats={['avif', 'webp']} alt={`Couverture du projet ${name}`}/>
        <div class="project-type-badge">
            {translatedProjectType}
        </div>
    </div>
    <div class="content">
        <div class="title">{name}</div>
        <div class="desc">{description}</div>
    </div>
</div>

<div class="modal fade project-modal" id={modalId} tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="project-modal-content">
            <div class="modal-header">
                <div class="background-image">
                    <Picture src={cover} formats={['avif', 'webp']} alt={`Couverture du projet ${name}`}/>
                </div>
                <button class="close-btn" data-bs-dismiss="modal" aria-label="Close">
                    <FontAwesome icon={faXmark}/>
                </button>
                <div class="project-meta">
                    <div class="logo">
                        <Picture src={logo} formats={['avif', 'webp']} alt={`Logo du projet ${name}`}/>
                    </div>
                    <div class="logo-width-faker"></div>
                    <div class="meta">
                        <h4 class="name">{name}</h4>
                        <div class="date">{startDate} - {endDate}</div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="section">
                    <h4>Description</h4>
                    <Fragment set:html={formattedBody}/>
                </div>
                {medias.length > 0 && (
                        <div class="section">
                            <h4>Médias</h4>
                            <div class="medias" id={`medias-${modalId}`}>
                                {optimizedMedias.map((media, index) => (
                                        <a href={media.original.src}
                                           data-pswp-width={media.original.rawOptions.src.width}
                                           data-pswp-height={media.original.rawOptions.src.height}
                                           target="_blank">
                                            <img src={media.thumbnail.src} alt="" />
                                        </a>
                                ))}
                            </div>
                        </div>
                )}
            </div>
        </div>
    </div>
</div>

<script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";
    import 'photoswipe/style.css';

    const allProjectModals = document.querySelectorAll('.project-modal');

    allProjectModals.forEach((modal) => {
        modal.addEventListener('show.bs.modal', () => {
            const medias = modal.querySelector('.medias');
            const lightbox = new PhotoSwipeLightbox({
                gallery: '#' + medias.id,
                children: 'a',
                pswpModule: () => import('photoswipe')
            });
            lightbox.init();
        });

        modal.addEventListener('hidden.bs.modal', () => {
            const medias = modal.querySelector('.medias');
            const lightbox = new PhotoSwipeLightbox({
                gallery: '#' + medias.id,
                children: 'a',
                pswpModule: () => import('photoswipe')
            });
            lightbox.destroy();
        });
    });
</script>