---
import '../styles/app.scss';
import {getLanguage} from "../i18n/utils";
import Footer from "../components/Footer.astro";
import SpeedInsights from "@vercel/speed-insights/astro"
import ogImage from "../images/og-image.png";

interface Props {
	title: string;
}

let lang = getLanguage(Astro.preferredLocale)

const { title } = Astro.props;

---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portfolio de Sofiane Lasri" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:site_name" content="SofianeLasri.fr">
		<meta property="og:image" content={ogImage.src} />
		<meta property="og:image:width" content={ogImage.width.toString()} />
		<meta property="og:image:height" content={ogImage.height.toString()} />
		<meta property="og:description" content="Portfolio de Sofiane Lasri" />
		<meta property="og:locale" content={lang} />
		<meta property="og:locale:alternate" content={lang === 'fr' ? 'en' : 'fr'} />

		<meta property="twitter:title" content={title}>
		<meta property="twitter:description" content="Portfolio de Sofiane Lasri">
		<meta property="twitter:image" content={ogImage.src}>
	</head>
	<body>
		<SpeedInsights/>
		<slot />
        <Footer />
		<script>
			import { Modal } from 'bootstrap'
			Array.from(document.querySelectorAll('.modal'))
				.forEach(modalNode => new Modal(modalNode), {
					backdrop: true,
				})
		</script>
	</body>
</html>